@import '../../../../styles/variables';

@media(max-width:451px){
    .betterResultsBanner{
        max-width: $max-width-big-450 - 30px !important;
    }
}

@media(max-width:431px){
    .betterResultsBanner{
        max-width: $max-width-big-400 - 10px !important;
    }
}

@media(max-width:401px){
    .betterResultsBanner{
        max-width: $max-width-big-400 - 30px !important;
    }
}

@media(max-width:376px){
    .betterResultsBanner{
        max-width: $max-width-big-375 - 30px !important;
    }
}

// .betterResultsBanner{
//     background-color: $color-system-gray;
//     border-radius: 20px;
//     max-width: 364px; 
//     max-height: 224px;
//     width: 100%;
//     height: 100%;
//     @include flex-center-column;
//     padding: 15px 15px;
   

//     h3{
//         font-size: 23px;
//         font-weight: 700;
//         margin-bottom: 20px;
//     }
// }