@import '../../../../styles/variables';

.typePaymentCheckbox{
    background-color: $color-system-gray;
    height: 55px;
    width: 100%;
    border-radius: 20px;
    @include flex-center-row;
    cursor: pointer;
    transition: $transition-style;

    &:hover {
        background-color: lighten($color-system-gray, 1%);
    }

    &.error {
        border: 1px solid $color-base-orange;
    }

    .payFormCheckboxContainer{
        @include flex-center-row;
        align-items: start !important;
        justify-content: start !important;
        gap: 12px;

        .payFormCheckboxDescription{

            .payFormCheckboxTitle{

                span{
                    font-size: 16px;
                    font-weight: 600;
                    color: $color-dark-gray;

                    &.price {
                        text-decoration: line-through;
                    }

                    &.text {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.customCheckbox {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;

    .checkboxInput {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 24px;
        width: 24px;
        background-color: $color-white;
        border: 1px solid $color-basic-gray;
        border-radius: 50%;
        transition: $transition-style;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
            content: "";
            position: absolute;
            display: none;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: $color-text-blue;
            transition: $transition-style;
        }
    }

    .checkboxInput:checked + .checkmark {
        
        &::after {
            display: block;
        }
    }
}