@import '../../styles/variables';

@media(max-width: 451px){
    .feedbackForm{
        max-width: $max-width-big-450;
        height: 700px !important;

        .container{
            max-height: 700px !important;
            height: 700px !important;
            padding-top: 0;
        }
    }

    .feedbackFormDescription{
        max-width: 512px;
    }
    .feedbackFormCheckboxes{
        @include flex-center-column;
        gap: 5px;
        .feedbackFormCheckbox{
            width: 100%;
            max-width: 311px;
            justify-content: start;
        }
    }
    #processingOfPersonalData{
        text-decoration: underline ;
    }
    #offerAgreement{
        text-decoration: underline;
    }
    #feedbackFistAgreement{
        max-width: 287px;
    }
    #feedbackSecondAgreement{
        max-width: 287px;
    }
    .feedbackFormAgreements{
        gap: 20px;
    }
    .feedbackFormAgreement input{
        width: 18px;
        min-width: 18px;
        max-width: 18px;
        height: 18px;
        min-height: 18px;
        max-height: 18px;
    }
}

@media(max-width: 431px){
    .feedbackForm{
        max-width: $max-width-big-375 + 20px;
        height: 750px !important;

        .container{
            max-height: 750px !important;
            height: 750px !important;
            padding-top: 0;
        }
    }

    .feedbackFormDescription{
        max-width: 512px;
    }
    .feedbackFormCheckboxes{
        @include flex-center-column;
        gap: 5px;
        .feedbackFormCheckbox{
            width: 100%;
            justify-content: start;
            padding: 0 0;

            input{
                margin-left: 15px;
            }
        }
    }
    #processingOfPersonalData{
        text-decoration: underline ;
    }
    #offerAgreement{
        text-decoration: underline;
    }
    .feedbackFormAgreements{
        gap: 20px;
    }

    .feedbackFormTitle h4{
        font-size: 30px !important;
    }
}

@media(max-width: 401px){
    .feedbackForm{
        max-width: $max-width-big-375;
        height: 750px !important;

        .container{
            max-height: 750px !important;
            height: 750px !important;
            padding-top: 0;
        }
    }

    .feedbackFormDescription{
        max-width: 512px;
    }
    .feedbackFormCheckboxes{
        @include flex-center-column;
        gap: 5px;
        .feedbackFormCheckbox{
            width: 100%;
            justify-content: start;
            padding: 0 0;

            input{
                margin-left: 15px;
            }
        }
    }
    #processingOfPersonalData{
        text-decoration: underline ;
    }
    #offerAgreement{
        text-decoration: underline;
    }
    .feedbackFormAgreements{
        gap: 20px;
    }

    .feedbackFormTitle h4{
        font-size: 30px !important;
    }
}

@media(max-width: 376px){
    .feedbackFormDescription{
        max-width: 512px;
    }
    .feedbackFormCheckboxes{
        @include flex-center-column;
        gap: 5px;
        .feedbackFormCheckbox{
            width: 100%;
            justify-content: start;
            padding: 0 0;

            input{
                margin-left: 15px;
            }
        }
    }
    #processingOfPersonalData{
        text-decoration: underline ;
    }
    #offerAgreement{
        text-decoration: underline;
    }
    .feedbackFormAgreements{
        gap: 20px;
    }

    .feedbackFormTitle h4{
        font-size: 30px !important;
    }
}