@import '../../../../styles/variables';

.payFormInputField{
    width: 97%;
    height: 54px;
    padding-left: 20px;
    border: 1px solid $color-basic-gray;
    border-radius: 20px;
    font-family: $font-default;
    font-size: 16px;
    font-weight: 500;
}