@import '../../../../styles/variables';

.payFormButton{
    width: 100%;
    background-color: $color-hover-gray;
    height: 62px;
    border-radius: 20px;
    @include flex-center-row;
    font-family: $font-title;
    color: $color-white;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease;

    &.active {
        background-color: $color-black;
    }
}