@import '../../../../styles/variables';

@media(max-width: 451px){
    .saleSection .container{
        max-width: $max-width-big-450;
    }
    .saleSectionName{
        align-items: start !important;
        line-height: 40px !important;
        .saleSectionTitle{
            font-size: 41px;
            width: 50%;
        }
        .saleSectionSubtitle{
            font-size: 41px;
        } 
    }
}

@media(max-width: 431px){
    .saleSection .container{
        max-width: $max-width-big-375 + 20px;
        margin-top: 70px;
    }
}

@media(max-width: 376px){
    .saleSection .container{
        max-width: $max-width-big-375;
        margin-top: 70px;
    }
}