@import '../../styles/variables';

.headerButtonLink {
    display: inline-block;
    text-decoration: none;
    
    // Увеличиваем область кликабельности
    padding: 10px;
    margin: -10px;

    &:hover{
        opacity: 1;
    }
}

.headerButton {
    position: relative;
    width: 155px;
    height: 56px;
    border-radius: $border-radius-28;
    @include flex-center-row;
    overflow: hidden; 
    background: $color-base-orange; 

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        background: linear-gradient(
            180deg,
            $color-gradient-orange-light 0%,
            $color-gradient-orange-dark 100%
        );
        opacity: 0;     
        transition: $transition-style;  
        z-index: 0;
    }

    &:hover::before {
        opacity: 1; 
    }

    &.active::before {
        opacity: 1; 
    }

    img {
        width: 34px;
        height: 34px;
        z-index: 1;
        position: relative;
    }

    span {
        font-family: $font-title;
        color: $color-white;
        font-weight: 600;
        font-size: 16px;
        z-index: 1;
        position: relative;
    }
}