@import '../../styles/variables';

.header {
    position: fixed;
    z-index: 10000; 
    top: 0;
    width: 100%;
    .container{
        @include flex-between-row;
        width: $max-width-big;
        margin-top: 20px;

        .headerNav{
            @include flex-between-row;
            width: 824px;
        }
    }
}