@import '../../../../styles/variables';

@media(max-width:451px){
    .welcomeSectionTitle{
        h1{
            font-size: 30px;
            width: 311px !important;
        }
    }
}

@media(max-width:401px){
    .welcomeSectionTitle{
        h1{
            font-size: 30px;
            width: 311px !important;
        }
    }
}


@media(max-width:376px){
    .welcomeSectionTitle{
        h1{
            font-size: 30px;
            width: 311px !important;
        }
    }
}

