@import '../../styles/variables';

.footer{
    background-color: $color-black;
    height: 369px;
    @include flex-center-column;
    margin-top: 100px;
}

.footer .container{
    @include flex-center-column
}

