@import '../../styles/variables';

@media(max-width:1051px){
    .saleSectionBannerContentAnalog {
        max-height: 240px;
        max-width: 167px;
        .container{
            max-width: 147px !important;
            max-height: 225px !important;
            height: 100% !important;
            padding: 0 0 !important;
            margin: 0 0 !important;
            justify-content: space-between !important;
            gap: 0 !important;
            align-items: start !important;
            .header{
                flex-direction: column;
                max-height: 100px !important;
                justify-content: center;
                padding-bottom: 5px !important;
                height: max-content !important;
                max-width: 147px;
                align-items: start !important;
                
                .title{
                    font-size: 20px;
                    flex-wrap: wrap !important;
                    width: 147px !important;
                }
            }
            .description{
                font-size: 9px;
                max-width: 80%;
                margin-top: 5px;
            }
            .price{
                flex-direction: column;
                justify-content: center !important;
                max-height: 99px;
                gap: 5px !important;
                align-items: start;

                .defaultPrice{

                    .fullPrice{
                        font-size: 20px;
                    }
                }

                .mobileDefaultPrice{
                    background-color: $color-system-gray;
                    width: 100%;
                    border-radius: 10px 10px 23px 23px;
                    height: 46px;
                    flex-direction: column-reverse !important;
                    h5{
                        font-size: 20px !important;
                        color: $color-default-text !important;
                        width: auto !important;
                        margin-left: 10px !important;
                    }
                    p{
                        font-size: 9px !important;
                        color: $color-dark-gray !important;
                        width: auto !important;
                        margin-left: 10px !important;
                    }
                }
            }
        }
    }
        
}