@import '../../styles/variables';

.topBarMobile{
    top: 0;
    width: 100%;
    z-index: 1000;
    position: fixed;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid $color-basic-gray;
    @include flex-center-column;
    height: 44px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

    .container{
        width: 95%;
        @include flex-between-row;

        h6{
            font-size: 12px;
            font-weight: 800;
        }
    }
}