@import '../../../../styles/variables';

.whoWillHelpSection{

    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: $max-width-small;
        width: 100%;
        padding: 0 0;
        margin-top: 150px;

        .whoWillHelpSectionTitle{
            font-size: 61px;
            font-weight: 900;
            text-align: center;
            max-width: $max-width-small - 300px;
        }

        .whoWillHelpSectionContent{
            @include flex-between-row;
            width: 100%;
            margin-top: 50px;
            margin-bottom: 25px;
        }

        #whoWillHelpSectionContentBlue{
            margin-top: 40px;
        }
    }
}