@import '../../styles/variables';

.footerInfo{
    font-size: 9px;
    font-weight: 500;
    color: $color-dark-gray;
    
    max-width: $max-width-big;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    .footerInfoLinks{
        @include flex-between-row;

        width: 225px;

        a{
            text-decoration: underline;
            color: $color-dark-gray;
            font-size: 9px;
            font-weight: 500;
            color: $color-dark-gray;
        }
    }

    .infoYear{
        margin-top: 5px;
        margin-bottom: 10px;
    }
}

.infoDeveloper{
    a{
        color: $color-dark-gray;
        text-decoration: underline;
    }
}