@import '../../../../styles/variables';

.freeContentSection{

    .container{
        @include flex-center-column;
        max-width: $max-width-small;
        width: 100%;
        margin-top: 200px;
        margin-bottom: 100px;
        gap: 50px;
    }
}

.freeContentSectionTitle{
    font-size: 49px;
    font-weight: 900;
}

.freeContentSectionBanners{
    @include flex-between-row;
    max-width: $max-width-small - 358px;
    width: 100%;
}

.freeContentSliderWrapper {
    position: relative;
    width: 100%;

    .freeContentSwiper {
        width: 343px;
    }

    .freeContent-pagination {
        width: 45px !important;
        height: 20px !important;
        background: $color-system-gray !important;
        border-radius: 10px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        gap: 6px !important;
        margin: 20px auto 0 !important;
        position: relative !important;
        
        bottom: auto !important;
        left: auto !important;
        transform: none !important;

        .swiper-pagination-bullet {
            width: 8px !important;
            height: 8px !important;
            background: $color-basic-gray !important;
            border-radius: 50% !important;
            opacity: 1 !important;
            transition: background 0.3s ease !important;
            margin: 0 !important;
        }

        .swiper-pagination-bullet-active {
            background: $color-dark-gray !important;
        }
    }
}