@import '../../../../styles/variables';

.freeContentSection{

    .container{
        @include flex-center-column;
        max-width: $max-width-small;
        width: 100%;
        margin-top: 200px;
        margin-bottom: 100px;
        gap: 50px;
    }
}

.freeContentSectionTitle{
    font-size: 49px;
    font-weight: 900;
}

.freeContentSectionBanners{
    @include flex-between-row;
    max-width: $max-width-small - 358px;
    width: 100%;
}