@import '../../../../styles/variables';

@media(max-width:431px){

    .freeContentSection{
        .container{
            max-width: $max-width-big-375 + 20px;
            margin-top: 50px;
        }
    }
    .freeContentSectionTitle{
            width: 100% !important;
            // max-width: 10px !important;
            // min-width: 10px !important;
            font-size: 34px !important;
    }
}

@media(max-width:401px){

    .freeContentSection{
        .container{
            max-width: $max-width-big-375;
        }
    }
    .freeContentSectionTitle{
            width: 100% !important;
            // max-width: 10px !important;
            // min-width: 10px !important;
            font-size: 34px !important;
    }
}

@media(max-width:376px){

    .freeContentSection{
        .container{
            max-width: $max-width-big-375;
        }
    }
    .freeContentSectionTitle{
            width: 100% !important;
            // max-width: 10px !important;
            // min-width: 10px !important;
            font-size: 34px !important;
    }
}